.aboutPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foxAbout {
  transform: scaleX(-1);
}

.aboutMeLayer {
  display: flex;
  flex-direction: row;
}

.aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  font-size: 18px;
  text-align: left;
}

.wireframing {
  height: 300px;
  width: 900px;
  display: flex;
  justify-content: center;
  background-image: url(../images/wireframing.png);
}

.wireframing a {
  color: var(--darkGreen);
  filter: drop-shadow(2px 2px 1px var(--teaGreen));
}

.wireframing p {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

@media only screen and (min-width: 850px) and (max-width: 1024px) {
  .wireframing {
    max-width: 1000px;
    width: 100%;
  }

  .wireframing p {
    max-width: 900px;
    width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .wireframing {
    max-width: 800px;
    width: 100%;
  }

  .wireframing p {
    max-width: 500px;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .wireframing {
    max-width: 550px;
    width: 100%;
  }

  .wireframing p {
    max-width: 300px;
    width: 100%;
  }

  .aboutMeLayer {
    display: flex;
    flex-direction: column;
  }

}
