.footerWrapper {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 100%;
  margin-top: 5rem;
  text-align: center;
  place-items: center;
  align-items: center;
  justify-content: center;
  background-color: var(--violet);
  max-height: 35rem;
}

.footerImageL {
  transform: scaleX(-1);
}

.textWrapper {
  padding: 4rem;
  max-width: 650px;
}

.foxFooter {
  margin: 1rem;
}

.footerText {
  font-size: 32px;
}

.footerCopy {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .footerWrapper {
    max-width: 600px;
  }

  .textWrapper {
    max-width: 550px;
  }

  .footerText {
    font-size: 24px;
  }

  .footCopy {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
}
