/* connected to layout.js in components */

.container {
  margin: auto;
  max-width: 1200px;
  text-align: center;
  background-image: url("../images/taco\ no\ bg.png");
  background-repeat: no-repeat;
  background-position: 90% 0%;
  background-size: 45%;
}

.headerContainer {
  width: 100%;
  max-height: 400px;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid var(--rose);
}

.heading {
  color: var(--rose);
}

.headerSecond {
  align-items: center;
  max-width: 100%;
  display: grid;
  grid-template-columns: 75% 25%;
}

.headerNav {
  max-width: 600px;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-right: 5rem;
  padding-top: 0.5rem;
}

.navIcon:hover {
  color: var(--violet);
}

.nav-link-item {
  text-align: center;
  padding: 0.5rem;
}

.nav-link-item a {
  color: var(--darkGreen);
}

.nav-link-item a:hover {
  color: var(--violet);
}

.site-title {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.site-title-link {
  text-decoration: none;
  font-size: 52px;
  font-weight: 700;
  color: var(--rose);
  filter: drop-shadow(1px 1px 1px var(--violet));
}

p {
  width: 600px;
  font-size: 24px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .headerContainer {
    max-height: 100%;
    max-width: 600px;
  }

  .site-title {
    max-width: 600px;
  }

  p {
    width: 300px;
    text-align: center;
    font-size: 20px;
  }

  .headerSecond {
    display: flex;
  }

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .nav-link-item {
    padding: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .headerContainer {
    max-height: 100%;
    max-width: 100%;
    align-items: center;
  }

  .site-title {
    max-width: 600px;
  }

  p {
    width: 300px;
    text-align: center;
    font-size: 20px;
  }

  .headerSecond {
    display: flex;
    max-width: 800px;
    justify-content: center;
  }

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .nav-link-item {
    padding: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    place-items: center;
  }

  .headerContainer {
    place-items: center;
    align-items: center;
  }

  .nav-link-item {
    padding: 3rem;
  }

  .headerSecond {
    display: flex;
  }
}
