/* connected to index.js under pages */
.homeContainer {
  display: flex;
  flex-direction: column;
  width: 1200px;
  font-size: 24px;
}

.text {
  color: var(--violet);
  width: 10rem;
  filter: drop-shadow(1px 1px 1px var(--rose));
}

.text:active,
.longText:active {
  color: rgb(0, 120, 120);
}

.longText {
  color: var(--violet);
  filter: drop-shadow(1px 1px 1px var(--rose));
}

.tagSelect {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
}

.tagSelect,
.tagAll {
  font-size: 32px;
}

.tagBox {
  max-width: 400px;
  position: relative;
  padding-top: 22rem;
  padding-bottom: 22rem;
  padding-left: 12rem;
  padding-right: 12rem;
}

.tagBox,
.tagLongBox {
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.tagBox:hover,
.tagLongBox:hover {
  opacity: 0.8;
}

.tagSweet {
  background-image: url("../images/sweet.png");
  object-fit: cover;
}

.tagSavory {
  background-image: url("../images/savory.png");
  object-fit: cover;
}

.allRecipesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagLongBox {
  width: 825px;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-top: 5rem;
}

.tagAll {
  background-image: url("../images/allRecipes.png");
  object-fit: cover;
}

@media only screen and (max-width: 800px) {
  .homeContainer {
    max-width: 750px;
    display: flex;
    flex-direction: column;
  }

  .homeContainer p {
    text-align: center;
    width: 750px;
  }

  .tagSelect {
    display: flex;
    flex-direction: column;
  }

  .tagBox {
    margin-top: 3rem;
  }

  .tagLongBox {
    max-width: 100%;
    margin-top: 3rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  html {
    width: 100vw;
  }

  .homeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .homeContainer p {
    text-align: center;
    max-width: 350px;
  }

  .tagSelect {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tagBox {
    margin: 0;
    margin-top: 3rem;
    max-width: 100vw;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .tagLongBox {
    max-width: 100%;
    margin-top: 3rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
  html {
    width: 100vw;
  }

  .homeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .homeContainer p {
    text-align: center;
    width: 1000px;
  }

  .tagSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .tagBox {
    margin: 3.5rem;
    margin-top: 3rem;
    max-width: 100vw;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .tagLongBox {
    max-width: 100%;
    margin-top: 1rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 0;
    padding-right: 0;
  }
}
