@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto:wght@300&family=Rubik:wght@300;400&display=swap");
* {
  font-family: "Hammersmith One", sans-serif;
}

body {
  height: 100%;
  background-color: var(--offWhite);
}

:root {
  --dark-bg: #000d11;
  --offWhite: #e3e3e3;
  --rose: #84596b;
  --violet: #927ca0;
  --frenchGrey: #4f4f52;
  --ashGrey: #c0cbc6;
  --teaGreen: #d4edc0;
  --darkGreen: #002a30;
}
