/* connected to index.js under pages/blog */

.postsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postsText {
  max-width: 600px;
  text-align: start;
}

.postTitle {
  font-size: 30px;
  color: var(--rose);
}

.postTitle:active {
  color: var(--darkGreen) !important;
}

.postExcerpt {
  font-size: 20px;
}
